.Card {
    border-radius: 20px;
    border: 3px solid #ffb300;
    box-shadow: 0 0 10px 2px #ffb3004d;
    height: auto;
    margin: 20px;
    padding: 25px;
    text-align: center;
    width: 300px;
    background: url('https://cdn.bulbagarden.net/upload/2/21/Pok%C3%A9_Ball.png') no-repeat center center;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.name {
    color: #ffb300;
    font-size: 28px;
    margin-bottom: 10px;
}

.type {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.level {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.betButton {
    border-radius: 20px;
    border: 2px solid #ffb300;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffb300;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 65px;
}

.betButton:hover {
    background-color: #fff;
    color: #ffb300;
}

.moreButton {
    background-color: #fff;
    border-radius: 50%;
    color: #ffb300;
    float: right;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    width: 30px;
}

.moreButton:hover {
    transform: rotate(45deg);
}


.pokeball {
    max-width: 70%;
}